html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Ubuntu;
    background-color: var(--color1);
}

:root {
    --color1: #080812;
    --color2: #161620;
    --dock-height: 62px;
    --menu-width: 300px;
}

@font-face {
    font-family: NerdFontSymbols;
    src: url("assets/fonts/Nerd_Fonts/Symbols-2048-em\ Nerd\ Font\ Complete.ttf");
}

#container {
    height: 100%;
    width: 100%;
    /* background-image: url("assets/wallpapers/pawel-czerwinski-tMbQpdguDVQ-unsplash.jpg"); */
    background-image: url("assets/wallpapers/ash-edmonds-0aWZdK8nK2I-unsplash.jpg");
    background-size: cover;
}

#dock{
    user-select: none;
    z-index: 10;
    color: white;
    height: var(--dock-height);
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--color1);
}

#topbar{
    user-select: none;
    font-size: 0.95em;
    z-index: 10;
    color: white;
    height: 22px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color1);
    overflow: hidden;
}

#date_time {
    user-select: none;
    position:inherit;
    left: 50%;
    transform: translate(-50%, 0);
}

#sys_tray{
    user-select: none;
    font-family: NerdFontSymbols;
    position: inherit;
    right: 0;
    padding-right: 1%;
}

.dock-item{
    user-select: none;
    border-radius: 15px;
    height: var(--dock-height);
    width: var(--dock-height);
}

.dock-item :hover{
    background-color: var(--color2);
}

.dock-item .dock-item-icon{
    padding: 10px;
    height: calc(var(--dock-height) - 15px);
    width: calc(var(--dock-height) - 15px);
}

.menu{
    user-select: none;
    display:none;
    position:fixed;
    max-width: var(--menu-width);
    min-width: var(--menu-width);
    width: var(--menu-width);
    color: #ddd;
    background-color: var(--color1);
    padding: 2px;
    border-radius: 2px;
    list-style-type: none;
    overflow: scroll;
}

.menu .menu-item{
    user-select: none;
    padding: 3px;
}
.menu .menu-item:hover{
    cursor: default;
    background-color: var(--color2);
}

.window{
    position: absolute;
    top: 100px;
    left: 10px;
    height: 750px;
    width: 1000px;
    z-index: 9;
    background-color: var(--color2);
    border-radius: 10px;
}

.window #titlebar{
    height: 50px;
    width: 100%;
    background-color: var(--color1);
    border-radius: 10px;
}

.window #titlebar .titlebar-btn{
    position: relative;
    top: 25%;
    left: 1%;
    /* padding: 15px; */
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-left: 1%;
}
/* .window #titlebar .titlebar-btn:hover {
    opacity: 0.5;
    background-color: #FF2946;
} */

.window #titlebar .close-btn{
    background-color: #FF2946;
}
/* .window #titlebar .close-btn:hover{
    background-image: url("assets/icons/system/window-close.svg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.window #titlebar .minimize-btn{
    /* padding-top: 0px; */
    background-color: #00FF7A;
}
/* .window #titlebar .minimize-btn:hover{
    background-image: url("assets/icons/system/window-minimize.svg");
    background-position: top;
    background-repeat: no-repeat;
} */

.window #titlebar .maximize-btn{
    background-color: #E4FF84;
}
/* .window #titlebar .maximize-btn:hover{
    background-image: url("assets/icons/system/window-maximize.svg");
    background-repeat: no-repeat;
    background-size: cover;
} */
